/*☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲
Variables
☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲*/

// Colors
$white: #ffffff;
$brand: #ED7101;
$main: #090913;

//Fonts
$font-family-sans: 'Titillium Web', Helvetica, Arial, sans-serif;

//Misc
$transition: all .2s ease-in-out;
